@model Hospital.Models.Patient

@{
    ViewData["Title"] = "EditPatient";
}

<h1>EditPatient</h1>

<h4>Patient</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPatient">
            @Html.HiddenFor(m => m.userId)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="birthDate" class="control-label"></label>
                <input asp-for="birthDate" class="form-control" />
                <span asp-validation-for="birthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <HeaderColumns>
            <DayPilot:RowHeaderColumn Title="Room" Width="80" />
            <DayPilot:RowHeaderColumn Title="Size" Width="80" />
            <DayPilot:RowHeaderColumn Title="Status" Width="80" />
        </HeaderColumns>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
