@model Hospital.Models.AppointmentView

@{
    ViewData["Title"] = "AppointmentsList";
}

<h1>AppointmentsList</h1>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="CreatePDF">Download PDF</a>
    </p>

    <p>
        <a asp-action="CreateAppointment">Create New</a>
    </p>
}

<div class="form-group">
    <label asp-for="selectedDate" class="control-label"></label>
    <input asp-for="selectedDate" class="form-control" id="selDate" />
    <span asp-validation-for="selectedDate" class="text-danger"></span>
</div>

@if (!User.IsInRole("Doctor"))
{
    <div class="form-group">
        <label asp-for="selectedDoctor" class="control-label"></label>
        <span asp-validation-for="selectedDoctor" class="text-danger"></span>
        @Html.DropDownList("doctor", (IEnumerable<SelectListItem>)ViewBag.Doctors, htmlAttributes: new { @id = "selDoc", @class = "form-control" })
    </div>
}


<div class="col-lg-12 col-md-12 col-xs-12" id="divPartial">
</div>

@section Scripts {
    @if (User.IsInRole("Doctor"))
    {
        <script type="text/javascript">
        $("#selDate,#selDoc").on('change', function () {

                $("#divPartial").load('@Url.Action("DoctorWeek","Appointment")' + '/' + $("#selDate").val())
        });
        </script>
    }
    else
    {
        <script type="text/javascript">
        $("#selDate,#selDoc").on('change', function () {

                $("#divPartial").load('@Url.Action("Week","Appointment")' + '/' + $("#selDate").val() + '/' + $("#selDoc").val())
        });
        </script>
    }

}