@model Hospital.Models.AppointmentView
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["My Appointments List"];
}

<h1>@Localizer["Appointments List"]</h1>

<div class="form-group">
    <label class="control-label">@Localizer["Selected Date"]</label>
    <input asp-for="selectedDate" class="form-control" id="selDate" />
    <span asp-validation-for="selectedDate" class="text-danger"></span>
</div>

<div class="col-lg-12 col-md-12 col-xs-12" id="divPartial">
</div>

@section Scripts {

    <script type="text/javascript">
        $("#selDate").on('change', function () {

                $("#divPartial").load('@Url.Action("MyWeek","Appointment")' + '/' + $("#selDate").val())
        });
    </script>
}