@model IEnumerable<Hospital.Models.Appointment>

@{
    ViewData["Title"] = "AppointmentsTab";
}

@{
    DateTime currenDate;
    int currentMonth = DateTime.Now.Month;
    int currentYear = DateTime.Now.Year;
    DateTime firstDay = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1);
    int daysInCurrentMonth = DateTime.DaysInMonth(firstDay.Year, firstDay.Month);
    DateTime lastDay = new DateTime(currentYear, currentMonth, daysInCurrentMonth);
    // Sunday casted to int gives 0 but that will not work for us, we need 7 to be able to calculate number of empty cells correctly
    int dayOfWeekFirst = ((int)firstDay.DayOfWeek > 0) ? (int)firstDay.DayOfWeek : 7;
    int dayOfWeekLast = ((int)lastDay.DayOfWeek > 0) ? (int)lastDay.DayOfWeek : 7;
    String[,] cells = new String[7,24];
    int[,] ids = new int[7, 24];
}

<table class="table" style="table-layout: fixed">
    <thead>
        <tr>
            <th>
                Hour
            </th>
            <th>
                Monday
            </th>
            <th>
                Thuesday
            </th>
            <th>
                Wednesday
            </th>
            <th>
                Thursday
            </th>
            <th>
                Friday
            </th>
            <th>
                Satuday
            </th>
            <th>
                Sunday
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appointment in Model)
        {
            int collumn, row;
            if (appointment.date.DayOfWeek == DayOfWeek.Sunday)
            {
                collumn = 6;
            }
            else
            {
                collumn = (int)appointment.date.DayOfWeek - 1;
            }
            appointment.date = appointment.date.AddHours(13);
            appointment.date = appointment.date.AddMinutes(23);
            row = appointment.date.Hour;
            cells[(int)collumn,row] = appointment.status.GetDisplayName();
            ids[(int)collumn, row] = appointment.id;
        }
        @for (int a = 0; a < 24; a++)
        {
        <tr align="center">
            <td class="border" style="padding:0px; margin:0px;">@a:00</td>
            <!-- filling up space of previous month -->
            @for (int b = 0; b < 7; b++)
            {
                if (cells[b, a] == "Reserved")
                {
                    @:<td id=@("cellc"+b+"r"+a) class="border" style="padding:0px; background-color:orangered; margin:0px;">@cells[b, a]</td>
                }
                else if (cells[b, a] == "Open")
                {
                    @:<td id=@("cellc"+b+"r"+a) class="border" style="padding:0px; background-color:lawngreen; margin:0px;">
                        <a style="padding:0px; margin:0px;" class="nav-link text-dark" asp-area="" asp-controller="Appointment" asp-action="ReserveAppointment" asp-route-id=@ids[b,a]>@cells[b, a]</a>
                    @:</td>
                }
                else
                {
                    @:<td id=@("cellc"+b+"r"+a) class="border" style="padding:0px; margin:0px;"></td>
                }
            }
        </tr>
        }

    </tbody>
</table>